<h1>Groups</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th>グループ名</th>
      <th>紹介文</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @groups.each do |group| %>
        <%= render 'groups/index', group: group %>
      <% end%>
    </tr>
  </tbody>
</table>
